In [521]:
import pandas as pd
import numpy as np
import sklearn
import os

### Data Clean

In [522]:
df = pd.read_csv(os.getcwd() +'/dataset/BankChurners.csv')

In [523]:
df

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

#### drop unwanted columns

In [398]:
df = df.drop(columns=['CLIENTNUM','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'])

In [399]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  object
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  object
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  object
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  object
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.5+ MB

#### colunms with unkown values

In [530]:
for i in df.columns:
    if len(df[df[i]=='Unknown'])>0:
        print(df[i].unique())

['High School' 'Graduate' 'Uneducated' 'Unknown' 'College' 'Post-Graduate'
 'Doctorate']
['Married' 'Single' 'Unknown' 'Divorced']
['$60K - $80K' 'Less than $40K' '$80K - $120K' '$40K - $60K' '$120K +'
 'Unknown']

## data encoding for KNN to predict missing value

In [401]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder,OneHotEncoder
df1=df.copy()
Income_Category=['Less than $40K','$40K - $60K','$60K - $80K','$80K - $120K', '$120K +','Unknown'] # 5
Education_Level=['Uneducated','High School', 'College','Graduate','Post-Graduate','Doctorate','Unknown'] #6
Attrition_Flag = ['Existing Customer', 'Attrited Customer']
e1=OrdinalEncoder(handle_unknown='ignore',categories=[Income_Category])
e2=OrdinalEncoder(handle_unknown='ignore',categories=[Education_Level])
lbenc = LabelEncoder()
df1['Attrition_Flag'] = lbenc.fit_transform(df1[['Attrition_Flag']])
df1['Income_Category'] = e1.fit_transform(df1[['Income_Category']])
df1['Education_Level'] = e2.fit_transform(df1[['Education_Level']])

np.warnings.filterwarnings('ignore')
enc = OneHotEncoder()
enc.fit(df1[['Gender', 'Marital_Status','Card_Category']].values)
val_mx= enc.transform(df1[['Gender', 'Marital_Status','Card_Category']].values).toarray()
feature_labels = np.array(enc.categories_).ravel()
col_names = []
for col in ["Gender", "Marital_Status",'Card_Category']:
    for val in df1[col].unique():
        col_names.append("{}_{}".format(col, val))
df2 =pd.DataFrame(data = val_mx, columns=col_names, dtype=int) 
df3 = pd.concat([df1, df2], axis = 1)
df3.drop(columns=['Gender','Marital_Status','Card_Category'],inplace = True)

In [402]:
df3

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Income_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,...,Gender_M,Gender_F,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Marital_Status_Divorced,Card_Category_Blue,Card_Category_Gold,Card_Category_Silver,Card_Category_Platinum
0,1,45,3,1.0,2.0,39,5,1,3,12691.0,...,0,1,0,1,0,0,1,0,0,0
1,1,49,5,3.0,0.0,44,6,1,2,8256.0,...,1,0,0,0,1,0,1,0,0,0
2,1,51,3,3.0,3.0,36,4,1,0,3418.0,...,0,1,0,1,0,0,1,0,0,0
3,1,40,4,1.0,0.0,34,3,4,1,3313.0,...,1,0,0,0,0,1,1,0,0,0
4,1,40,3,0.0,2.0,21,5,1,0,4716.0,...,0,1,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,1,50,2,3.0,1.0,40,3,2,3,4003.0,...,0,1,0,0,1,0,1,0,0,0
10123,0,41,2,6.0,1.0,25,4,2,3,4277.0,...,0,1,1,0,0,0,1,0,0,0
10124,0,44,1,1.0,0.0,36,5,3,4,5409.0,...,1,0,0,1,0,0,1,0,0,0
10125,0,30,2,3.0,1.0,36,4,3,3,5281.0,...,0,1,0,0,0,1,1,0,0,0
10126,0,43,2,3.0,0.0,25,6,2,4,10388.0,...,1,0,0,1,0,0,0,0,0,1

In [403]:
df3['Income_Category']=df3['Income_Category'].replace(5,np.nan)
df3['Education_Level']=df3['Education_Level'].replace(6,np.nan)
df3

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Income_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,...,Gender_M,Gender_F,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Marital_Status_Divorced,Card_Category_Blue,Card_Category_Gold,Card_Category_Silver,Card_Category_Platinum
0,1,45,3,1.0,2.0,39,5,1,3,12691.0,...,0,1,0,1,0,0,1,0,0,0
1,1,49,5,3.0,0.0,44,6,1,2,8256.0,...,1,0,0,0,1,0,1,0,0,0
2,1,51,3,3.0,3.0,36,4,1,0,3418.0,...,0,1,0,1,0,0,1,0,0,0
3,1,40,4,1.0,0.0,34,3,4,1,3313.0,...,1,0,0,0,0,1,1,0,0,0
4,1,40,3,0.0,2.0,21,5,1,0,4716.0,...,0,1,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,1,50,2,3.0,1.0,40,3,2,3,4003.0,...,0,1,0,0,1,0,1,0,0,0
10123,0,41,2,NaN,1.0,25,4,2,3,4277.0,...,0,1,1,0,0,0,1,0,0,0
10124,0,44,1,1.0,0.0,36,5,3,4,5409.0,...,1,0,0,1,0,0,1,0,0,0
10125,0,30,2,3.0,1.0,36,4,3,3,5281.0,...,0,1,0,0,0,1,1,0,0,0
10126,0,43,2,3.0,0.0,25,6,2,4,10388.0,...,1,0,0,1,0,0,0,0,0,1

In [428]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
df4=pd.DataFrame(sc.fit_transform(df3),columns=df3.columns)
df4

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Income_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,...,Gender_M,Gender_F,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Marital_Status_Divorced,Card_Category_Blue,Card_Category_Gold,Card_Category_Silver,Card_Category_Platinum
0,1.0,0.404255,0.6,0.2,0.50,0.604651,0.8,0.166667,0.500000,0.340190,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.489362,1.0,0.6,0.00,0.720930,1.0,0.166667,0.333333,0.206112,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.531915,0.6,0.6,0.75,0.534884,0.6,0.166667,0.000000,0.059850,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.297872,0.8,0.2,0.00,0.488372,0.4,0.666667,0.166667,0.056676,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4,1.0,0.297872,0.6,0.0,0.50,0.186047,0.8,0.166667,0.000000,0.099091,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,1.0,0.510638,0.4,0.6,0.25,0.627907,0.4,0.333333,0.500000,0.077536,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
10123,0.0,0.319149,0.4,NaN,0.25,0.279070,0.6,0.333333,0.500000,0.085819,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10124,0.0,0.382979,0.2,0.2,0.00,0.534884,0.8,0.500000,0.666667,0.120042,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
10125,0.0,0.085106,0.4,0.6,0.25,0.534884,0.6,0.500000,0.500000,0.116172,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10126,0.0,0.361702,0.4,0.6,0.00,0.279070,1.0,0.333333,0.666667,0.270566,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [457]:
from sklearn.impute import KNNImputer
df4_train = df4.dropna()
df4_smpl = df4_train.sample(n=1000)
df4_smpl_test=df4_smpl.copy()
df4_smpl_test['Education_Level'] = 'NAN'
df4_smpl_test['Income_Category'] = 'NAN'
df4_test = df4_train.copy()
df4_test.update(df4_smpl_test) 
df4_smpl_test

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Income_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,...,Gender_M,Gender_F,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Marital_Status_Divorced,Card_Category_Blue,Card_Category_Gold,Card_Category_Silver,Card_Category_Platinum
703,1.0,0.595745,0.4,NAN,NAN,0.534884,0.4,0.500000,0.500000,0.291093,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
9667,1.0,0.063830,0.2,NAN,NAN,0.069767,0.4,0.333333,0.166667,0.334264,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6361,1.0,0.553191,0.2,NAN,NAN,0.488372,0.4,0.500000,0.500000,0.083159,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
7909,1.0,0.404255,0.6,NAN,NAN,0.534884,0.0,0.333333,0.333333,0.021304,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
7446,1.0,0.446809,0.2,NAN,NAN,0.488372,0.8,0.166667,0.500000,0.019974,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9517,1.0,0.404255,0.6,NAN,NAN,0.395349,0.2,0.333333,0.333333,0.072033,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2092,1.0,0.680851,0.4,NAN,NAN,0.930233,0.8,0.500000,0.166667,0.189666,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2019,0.0,0.234043,0.6,NAN,NAN,0.139535,0.2,0.500000,0.666667,0.050236,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1263,1.0,0.191489,0.6,NAN,NAN,0.348837,0.6,0.333333,0.333333,0.304819,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
5119,1.0,0.744681,0.0,NAN,NAN,0.860465,0.4,0.500000,0.000000,0.104835,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [479]:
df4_test.replace('NAN',np.nan,inplace=True)
df4_train = df4_train.reset_index()

In [481]:
df4_train

,level_0,index,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Income_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,...,Gender_M,Gender_F,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Marital_Status_Divorced,Card_Category_Blue,Card_Category_Gold,Card_Category_Silver,Card_Category_Platinum
0,0,0,1.0,0.404255,0.6,0.2,0.50,0.604651,0.8,0.166667,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,1,1.0,0.489362,1.0,0.6,0.00,0.720930,1.0,0.166667,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,2,2,1.0,0.531915,0.6,0.6,0.75,0.534884,0.6,0.166667,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,3,1.0,0.297872,0.8,0.2,0.00,0.488372,0.4,0.666667,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4,4,4,1.0,0.297872,0.6,0.0,0.50,0.186047,0.8,0.166667,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7636,7636,10121,1.0,0.638298,0.2,0.6,0.00,0.860465,0.6,0.166667,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
7637,7637,10122,1.0,0.510638,0.4,0.6,0.25,0.627907,0.4,0.333333,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
7638,7638,10124,0.0,0.382979,0.2,0.2,0.00,0.534884,0.8,0.500000,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
7639,7639,10125,0.0,0.085106,0.4,0.6,0.25,0.534884,0.6,0.500000,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
7640,7640,10126,0.0,0.361702,0.4,0.6,0.00,0.279070,1.0,0.333333,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

### Find a good 'N' with lower err based on Non-null sub dataset

In [520]:
from sklearn.impute import KNNImputer
err = {}
for i in [1,3,5,7,9,11,13,15,17,19]:
    imputer_train = KNNImputer(n_neighbors=i, weights="uniform")
    df4_test_res = pd.DataFrame(data = imputer_train.fit_transform(df4_test), columns=df4_test.columns, dtype=float) 
    err_edu = np.sum((df4_test_res['Education_Level']-df4_train['Education_Level'])**2)
    err_inc = np.sum((df4_test_res['Income_Category']-df4_train['Income_Category'])**2)
    err_sum = err_edu+err_inc
    err[i] = err_sum
print(err)
print(min(err, key=err.get))

{1: 235.85500000000002, 3: 152.05916666666667, 5: 135.50920000000002, 7: 127.88989795918368, 9: 123.4080864197531, 11: 122.43409090909093, 13: 121.55960059171599, 15: 121.07911111111112, 17: 121.40328719723185, 19: 121.23693905817177}
15

### Impute missing values with N = 15

In [532]:
imputer = KNNImputer(n_neighbors=15, weights="uniform")
df5 =pd.DataFrame(data = imputer.fit_transform(df4), columns=df4.columns, dtype=float) 
df5

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Income_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,...,Gender_M,Gender_F,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Marital_Status_Divorced,Card_Category_Blue,Card_Category_Gold,Card_Category_Silver,Card_Category_Platinum
0,1.0,0.404255,0.6,0.200000,0.50,0.604651,0.8,0.166667,0.500000,0.340190,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.489362,1.0,0.600000,0.00,0.720930,1.0,0.166667,0.333333,0.206112,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.531915,0.6,0.600000,0.75,0.534884,0.6,0.166667,0.000000,0.059850,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.297872,0.8,0.200000,0.00,0.488372,0.4,0.666667,0.166667,0.056676,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4,1.0,0.297872,0.6,0.000000,0.50,0.186047,0.8,0.166667,0.000000,0.099091,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,1.0,0.510638,0.4,0.600000,0.25,0.627907,0.4,0.333333,0.500000,0.077536,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
10123,0.0,0.319149,0.4,0.493333,0.25,0.279070,0.6,0.333333,0.500000,0.085819,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10124,0.0,0.382979,0.2,0.200000,0.00,0.534884,0.8,0.500000,0.666667,0.120042,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
10125,0.0,0.085106,0.4,0.600000,0.25,0.534884,0.6,0.500000,0.500000,0.116172,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10126,0.0,0.361702,0.4,0.600000,0.00,0.279070,1.0,0.333333,0.666667,0.270566,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [536]:
df5.to_csv(os.getcwd() +'/dataset/processed/BankChurners.csv')